@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}

.slide {
	animation: 5s slide infinite linear
}

.stopanimation:hover .slide {
	animation-play-state: paused;
}